*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main{
    max-width: 1500px;
    margin: auto;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/guys.png);
    height: 100vh;
    background-position:center;
    background-size: cover;
}

.logo img{
    float:left;
    width: 300px;
    height: auto;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: orange;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

ul li a:hover{
    background-color: orange;
    color: black;
}

.title, .title-about{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title h1{
    color:orange;
    font-size: 70px;
}
.title-about h1,.title-contact h1{
    color: orange;
    font-size: 80px;
    text-align: center;
}

.title-contact{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.title-contact h2{
    color: white;
    font-size: 20px;
    text-align: center;
}

.title-announcement{
    position: absolute;
    top: 18%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.title-announcement h1{
    color: orange;
    font-size: 50px;
    text-align: center;
}

p{
    font-size: 20px;
    color: white;
}

.button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button-announcement{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 2px solid white;
    padding: 10px 30px;
    color: orange;
    text-decoration: none;
    transition: 0.5s ease;
}
.btn-ann{
    border: 2px solid white;
    width: 7px;
    height: 3px;
    padding: 8px 8px;
    color: orange;
    text-decoration: none;
    transition: 0.5s ease;
}

.btn:hover,.btn-ann:hover{
    background-color: orange;
    color: black;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }

  .icon {
    display: flex;
    justify-content: center;
  }
  
  .fa icon-right{
    margin-right: 20px;
  }